/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
  }
body 
{
    font-family: 'Roboto Mono', monospace;
    line-height: 1;
    text-align:center;
}
.a {
    background-color: #FF764E;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    color:white;
}
.b {
    background-color: #5ED3EB;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    color:white;
}
.c {
    background-color: #FFCD69;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    color: white;
}
.guide h1 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.guide h3 {
    text-align: center;
    font-size: 1.15rem;
    margin: 2%;
}
#aboutyosemite {
  background-color: #DDB9A3;
  color: white;
  text-align: center;
  font-size: 1rem;
  margin: 5%;
}
#aboutfire {
  display: block;
    width: 50%;
    margin: auto;
}
#fire {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
#van {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
footer {
  background: #F9E7DC;
  margin-bottom: 50px;
}
#foot {
  width: 100%;
}